<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="https://www.steviekwok.top/favicon.ico">
    <link rel="bookmark" href="https://www.steviekwok.top/favicon.ico" type="image/x-icon"　/>    
 <meta charset="UTF-8">
    <title>blog后台登陆</title>
<link rel="stylesheet" href="/static/css/reset.css">
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/art.css">
<?php include ROOT . '/view/header.html'; ?>
<style>
form {
width:30%;
margin:0 auto;
}
</style>
</head>
<body>
    <header>
        <h1>Blog后台管理界面</h1>
    </header>
    <div id="main">
        <div id="respond" class="comment-respond">
            <form action="" method="post">
                <p>
                <input placeholder="用户名" name="name" type="text" value="" size="30">
                </p>
                <p>
                <input placeholder="密码" name="password" type="password" value="" size="30">
                </p>
                <input style="margin-left:36%;width:30%;" type="submit" value="登陆">
            </form>
        </div>
    </div>
    <footer>
        <span style="color:#993300;">&copy; 2017, Stevie Kwok All rights reserved ・  粤ICP备17158644号 ・ GeneratePress ・ WordPress</span>
    </footer>
</body>
</html>
